body {
    margin: 0;
    font-family: Arial;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #111;
    color: white;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.hero {
    text-align: center;
    padding: 100px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
}

button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.card {
    padding: 30px;
    background: #eee;
    border-radius: 10px;
}

.cta {
    text-align: center;
    padding: 50px;
    background: #222;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background: #111;
    color: white;
}